<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoRoom</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/member.css">
</head>

<body>
  <!-- ======= Header ======= -->
  <header>
    <div class="burger-list"></div>
    <nav class="navbar">
      <h2 onclick="window.location='/member'">GoRoom</h2>
      <div class="item-section">
        <div class="item" id="member-name">Hello, </div>
        <div class="item" id="signout-btn">Sign out</div>
      </div>
      </div>
    </nav>
  </header><!-- End Header -->

  <!-- ======= Main Section ======= -->
  <section id="main" class="clearfix">
    <div class="h-100">
      <div class="main-section" style="margin: 0 auto;">
        <div class=" col-lg-8 intro-info">
          <div>
            <h1>Membership</h1>
            <h3>Create the instance meeting or change your profile picture</h3>
            <div class="action">
              <div class="d-inline-block">
                <div class="create-room-btn">Create room</div>
              </div>
              <div id="join-room">
                <input type="text" id="room-input" placeholder="Enter the room code">
                <div id="join-btn">Join</div>
              </div>
              <div id="join-wrong-input">That character can't be used here</div>
            </div>

          </div>
        </div>

        <div class="col-lg-4 " id="member-avator">
          <div class="avatar-section">
            <div class="avatar"></div>
            <input type="file" class="avatar-update-input" name="file" accept=".jpeg,.jpg.png">
            <button class="avatar-update-button" type="button">Add profile picture</button>
            <div class="avatar-comment">
              <div class="avatar-file">Allowed file types:.JPG .JPEG, .PNG</div>
              <div class="avatar-hint">Wrong file type</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    </div>
  </section><!-- End Main -->

  <!-- ======= Footer ======= -->
  <div class="footer">
    COPYRIGHT © 2023 GoRoom
  </div><!-- End Footer -->

  <script src="/js/member.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>