<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoRoom</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css"
    integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/peer.css">
</head>

<body>
  <!-- ======= Test Section ======= -->
  <div class="beforeEnter-section">
    <div class="container" id="test-section">
      <div class="test-left-section">
        <video id="testVideo" class="testVideo" autoplay></video>
        <div id="test-video-avatar">
          <div id="test-video-closed-avatar"></div>
        </div>
      </div>
      <div class="test-right-section">
        <div class="ready-item">
          <div class="test-ready">Ready to join?</div>
        </div>
        <div class="ready-item">
          <div class="testAvatar"></div>
        </div>
        <div class="ready-item">
          <div class="testName"></div>
        </div>
        <div class="ready-item">
          <div style="margin-right: 10px;">
            <button id="test-audio-opened-btn">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="50 50 400 400" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M192 448h128m64-240v32c0 70.4-57.6 128-128 128h0c-70.4 0-128-57.6-128-128v-32m128 160v80"
                  stroke-width="20" stroke-linejoin="round" stroke-linecap="round" fill="none"></path>
                <path
                  d="M256 320a78.83 78.83 0 01-56.55-24.1A80.89 80.89 0 01176 239V128a79.69 79.69 0 0180-80c44.86 0 80 35.14 80 80v111c0 44.66-35.89 81-80 81z">
                </path>
              </svg>
            </button>
            <button id="test-audio-closed-btn"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                viewBox="50 50 400 400" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M432 400L96 64">
                </path>
                <path
                  d="M400 240v-31.55c0-8.61-6.62-16-15.23-16.43A16 16 0 00368 208v32a111.68 111.68 0 01-2.68 24.38 2 2 0 00.53 1.84l22.59 22.59a2 2 0 003.29-.72A143.27 143.27 0 00400 240zM256 352a112.36 112.36 0 01-112-112v-31.55c0-8.61-6.62-16-15.23-16.43A16 16 0 00112 208v32c0 74 56.1 135.12 128 143.11V432h-47.55c-8.61 0-16 6.62-16.43 15.23A16 16 0 00192 464h127.55c8.61 0 16-6.62 16.43-15.23A16 16 0 00320 432h-48v-48.89a143.08 143.08 0 0052-16.22 4 4 0 00.91-6.35l-18.4-18.39a3 3 0 00-3.41-.58A111 111 0 01256 352zm1.14-304a79.66 79.66 0 00-68.47 36.57 4 4 0 00.54 5L332.59 233a2 2 0 003.41-1.42V128.91C336 85 301 48.6 257.14 48z">
                </path>
                <path
                  d="M179.41 215a2 2 0 00-3.41 1.42V239a80.89 80.89 0 0023.45 56.9 78.55 78.55 0 0077.8 21.19 2 2 0 00.86-3.35z">
                </path>
              </svg></button>
          </div>
          <div>
            <button id="test-video-opened-btn">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M336 208v-80a16 16 0 00-16-16H32a16 16 0 00-16 16v256a16 16 0 0016 16h288a16 16 0 0016-16v-80l160 96V112z">
                </path>
              </svg>
            </button>
            <button id="test-video-closed-btn">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M336 179.52A67.52 67.52 0 00268.48 112h-79.2a4 4 0 00-2.82 6.83l142.71 142.71a4 4 0 006.83-2.82zM16 180v152a68 68 0 0068 68h184a67.66 67.66 0 0042.84-15.24 4 4 0 00.33-6L54.41 122a4 4 0 00-4.87-.62A68 68 0 0016 180zm448 204.39a32 32 0 01-13-2.77 15.77 15.77 0 01-2.71-1.54l-82.71-58.22A32 32 0 01352 295.7v-79.4a32 32 0 0113.58-26.16l82.71-58.22a15.77 15.77 0 012.71-1.54 32 32 0 0145 29.24v192.76a32 32 0 01-32 32z">
                </path>
                <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M416 416L80 80">
                </path>
              </svg>
            </button>
          </div>
        </div>
        <div class="ready-item">
          <div class="test-join-btn" style="margin-right: 10px;">Join room</div>
          <div class="test-exit-btn">Exit</div>
        </div>

      </div>

    </div>
  </div>
  <!-- ======= Main Section ======= -->
  <div id="body-section">
    <div class="container-fluid">
      <div class="left-section">
        <div id="peers">
          <div class="columns is-multiline" id="videos">
            <div class="each-peer">
              <video id="localVideo" class="localVideo" autoplay playsinline="true"></video>
              <!-- <div class="video-avatar">
                <div class="video-closed-avatar"></div>
              </div> -->
              <!-- <div class="username"></div> -->
            </div>
            <!-- <div class="each-peer">
            <video id="localVideo2" autoplay></video>
            <div class="username">Tony</div>
          </div> -->
            <!-- <div class="each-peer">
            <video id="localVideo" class="video-area mirror" autoplay muted></video>
          </div> -->

          </div>
        </div>
      </div>

      <div class="right-section">
        <div id="viewer">
          <div class="attendanceIcon"></div>
          <div class="icon-users" id="viewer-count"></div>
        </div>

        <div id="chat">
          <div class="message chat" id="chat-all">
            <div class="message-header">
              <p id="chatRoom-title">Chat Room</p>
              <!-- <i id="chat-alert"></i> -->
            </div>
            <!-- 包含輸入計入和form -->
            <div id="chat-content">
              <!-- 輸入紀錄 -->
              <div class="body" id="chat-body">
                <div id="log"></div>
              </div>
              <form id="form" autocomplete="off">
                <div class="field has-addons">
                  <div class="send">
                    <div class="control-input">
                      <input class="input" id="msg" type="text" placeholder="Type message...">
                    </div>
                    <div class="control">
                      <input id="chat-input-btn" class="button is-info" type="submit" value="Send" />
                      <button id="chat-btn"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                          stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                          xmlns="http://www.w3.org/2000/svg">
                          <line x1="22" y1="2" x2="11" y2="13"></line>
                          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                        </svg>
                      </button>

                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="bottom-section">
    <div class="container-fluid" id="bottom-container">
      <div id="bottom-left">
        <div id="all-left-btn">
          <div class="left-btn-section">
            <div>
              <button id="audio-opened-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="50 50 400 400" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path d="M192 448h128m64-240v32c0 70.4-57.6 128-128 128h0c-70.4 0-128-57.6-128-128v-32m128 160v80"
                    stroke-width="20" stroke-linejoin="round" stroke-linecap="round" fill="none"></path>
                  <path
                    d="M256 320a78.83 78.83 0 01-56.55-24.1A80.89 80.89 0 01176 239V128a79.69 79.69 0 0180-80c44.86 0 80 35.14 80 80v111c0 44.66-35.89 81-80 81z">
                  </path>
                </svg>
              </button>
              <button id="audio-closed-btn"><svg stroke="currentColor" fill="currentColor" stroke-width="0"
                  viewBox="50 50 400 400" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M432 400L96 64">
                  </path>
                  <path
                    d="M400 240v-31.55c0-8.61-6.62-16-15.23-16.43A16 16 0 00368 208v32a111.68 111.68 0 01-2.68 24.38 2 2 0 00.53 1.84l22.59 22.59a2 2 0 003.29-.72A143.27 143.27 0 00400 240zM256 352a112.36 112.36 0 01-112-112v-31.55c0-8.61-6.62-16-15.23-16.43A16 16 0 00112 208v32c0 74 56.1 135.12 128 143.11V432h-47.55c-8.61 0-16 6.62-16.43 15.23A16 16 0 00192 464h127.55c8.61 0 16-6.62 16.43-15.23A16 16 0 00320 432h-48v-48.89a143.08 143.08 0 0052-16.22 4 4 0 00.91-6.35l-18.4-18.39a3 3 0 00-3.41-.58A111 111 0 01256 352zm1.14-304a79.66 79.66 0 00-68.47 36.57 4 4 0 00.54 5L332.59 233a2 2 0 003.41-1.42V128.91C336 85 301 48.6 257.14 48z">
                  </path>
                  <path
                    d="M179.41 215a2 2 0 00-3.41 1.42V239a80.89 80.89 0 0023.45 56.9 78.55 78.55 0 0077.8 21.19 2 2 0 00.86-3.35z">
                  </path>
                </svg></button>
            </div>
            <div>
              <button id="video-opened-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M336 208v-80a16 16 0 00-16-16H32a16 16 0 00-16 16v256a16 16 0 0016 16h288a16 16 0 0016-16v-80l160 96V112z">
                  </path>
                </svg>
              </button>
              <button id="video-closed-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M336 179.52A67.52 67.52 0 00268.48 112h-79.2a4 4 0 00-2.82 6.83l142.71 142.71a4 4 0 006.83-2.82zM16 180v152a68 68 0 0068 68h184a67.66 67.66 0 0042.84-15.24 4 4 0 00.33-6L54.41 122a4 4 0 00-4.87-.62A68 68 0 0016 180zm448 204.39a32 32 0 01-13-2.77 15.77 15.77 0 01-2.71-1.54l-82.71-58.22A32 32 0 01352 295.7v-79.4a32 32 0 0113.58-26.16l82.71-58.22a15.77 15.77 0 012.71-1.54 32 32 0 0145 29.24v192.76a32 32 0 01-32 32z">
                  </path>
                  <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M416 416L80 80">
                  </path>
                </svg>
              </button>
            </div>
          </div>
          <div class="center-btn-section">
            <button id="exit-btn">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="20" width="20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 9c-1.6 0-3.15.25-4.6.72v3.1c0 .39-.23.74-.56.9-.98.49-1.87 1.12-2.66 1.85-.18.18-.43.28-.7.28-.28 0-.53-.11-.71-.29L.29 13.08a.956.956 0 01-.29-.7c0-.28.11-.53.29-.71C3.34 8.78 7.46 7 12 7s8.66 1.78 11.71 4.67c.18.18.29.43.29.71 0 .28-.11.53-.29.71l-2.48 2.48c-.18.18-.43.29-.71.29-.27 0-.52-.11-.7-.28a11.27 11.27 0 00-2.67-1.85.996.996 0 01-.56-.9v-3.1C15.15 9.25 13.6 9 12 9z">
                </path>
              </svg>
              <span class="hidden sm:block text-xs">Exit</span>
            </button>
          </div>
          <div class="right-btn-section">
            <div>
              <button id="chatroom-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em"
                  width="1em" xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" stroke-linejoin="round" stroke-width="32"
                    d="M408 64H104a56.16 56.16 0 00-56 56v192a56.16 56.16 0 0056 56h40v80l93.72-78.14a8 8 0 015.13-1.86H408a56.16 56.16 0 0056-56V120a56.16 56.16 0 00-56-56z">
                  </path>
                </svg>
              </button>
            </div>
            <div>
              <button id="share-link-btn">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="22"
                  width="22" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M752 664c-28.5 0-54.8 10-75.4 26.7L469.4 540.8a160.68 160.68 0 0 0 0-57.6l207.2-149.9C697.2 350 723.5 360 752 360c66.2 0 120-53.8 120-120s-53.8-120-120-120-120 53.8-120 120c0 11.6 1.6 22.7 4.7 33.3L439.9 415.8C410.7 377.1 364.3 352 312 352c-88.4 0-160 71.6-160 160s71.6 160 160 160c52.3 0 98.7-25.1 127.9-63.8l196.8 142.5c-3.1 10.6-4.7 21.8-4.7 33.3 0 66.2 53.8 120 120 120s120-53.8 120-120-53.8-120-120-120zm0-476c28.7 0 52 23.3 52 52s-23.3 52-52 52-52-23.3-52-52 23.3-52 52-52zM312 600c-48.5 0-88-39.5-88-88s39.5-88 88-88 88 39.5 88 88-39.5 88-88 88zm440 236c-28.7 0-52-23.3-52-52s23.3-52 52-52 52 23.3 52 52-23.3 52-52 52z">
                  </path>
                </svg>
              </button>
            </div>
            <!-- copy相關 => html js css -->
            <!-- <div id="copy">
                            <div id="copy-button">Copy link</div>
                          </div> -->
            <!-- <div class="switch">
                            <div id="share-btn">Share screen</div>
                          </div> -->
            <i id="chat-alert"></i>
          </div>
        </div>
      </div>
      <div id="bottom-right"></div>
    </div>
  </div>





  <!-- End Main -->

  <!-- ======= Footer ======= -->
  <script>
    let RoomWebsocketAddr = "{{.RoomWebsocketAddr}}"
    let ChatWebsocketAddr = "{{.ChatWebsocketAddr}}"
    let ViewerWebsocketAddr = "{{.ViewerWebsocketAddr}}"
    let RoomLink = "{{.RoomLink}}"
    console.log("RoomWebsocketAddr : ", RoomWebsocketAddr)
    console.log("ChatWebsocketAddr : ", ChatWebsocketAddr)
    console.log("ViewerWebsocketAddr : ", ViewerWebsocketAddr)
    console.log("RoomLink : ", RoomLink)
  </script>
  <!-- <script type="module" src="/js/before.js"></script> -->
  <script src="/js/peer.js"></script>
  <script src="/js/chat.js"></script>
  <script src="/js/viewer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"
    integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>



</html>