html,
body {
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #666666;

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

header {

  height: 70px;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: rgba(15, 15, 15, 0.1); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  width: 1200px;
}

h2 {
  font-weight: bold;
  color: #1158bd;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  cursor: pointer;
}

.item-section {
  display: flex;
  align-items: center;
  gap: 20px;

}

.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #1158bd;
  padding: 10px;
}

#signout-btn {
  border: 1px solid #1158bd;
  border-radius: 5px;
  cursor: pointer;
}


#signout-btn:hover {
  background-color: #1158bd;
  color: #fff;
}


/*--------------------------------------------------------------
# Main Section
--------------------------------------------------------------*/

.create-room-btn {
  cursor: pointer;
  background-color: #61a3df;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  font-size: 20px;
}

.create-room-btn:hover {
  background-color: #1158bd;
}

span {
  color: #61a3df;
}

h1 {
  font-weight: bold;
  color: #1158bd;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

#main {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.intro-info {
  display: flex;
  align-items: center;
}

#main {
  /* border: 3px solid red; */
}

.main-section {
  /* border: 3px solid blue; */
  width: 1200px;
  display: flex;
  flex-direction: row;
}


.action {
  /* border: 3px solid green; */
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.d-inline-block {
  width: 150px;
}

#join-room {
  /* border: 3px red solid; */
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  margin-top: 40px;
}

#room-input {
  width: 370px;
  height: 36px;
  border-radius: 10px;
  border: 1px #e8e8e8 solid;
  outline: none;
  padding: 10px 10px 10px 45px;
  background-image: url("../img/keyboard.png");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: 5px center;
}

#room-input:focus {
  border: 2px #1158bd solid;
  outline: none;
}

#join-btn {
  display: none;
  color: #f0f8ff;
  cursor: pointer;
  padding: 2px 10px;
}

#join-btn:hover {
  background-color: #f0f8ff;
  border-radius: 5px;
}

#room-input:focus+#join-btn {
  display: block;
}

#join-wrong-input {
  display: none;
  color: red;
  font-size: 8px;
}

/*--------------------------------------------------------------
# avatar
--------------------------------------------------------------*/

#member-avator {
  display: block;
  /* border: 3px solid purple; */
  border-left: 1px solid rgba(102, 102, 102, 0.3);
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatar {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  margin-top: 20px;
}

.avatar-update-input {
  display: none;
}

.avatar-update-button {
  cursor: pointer;
  background-color: #61a3df;
  color: #fff;
  outline: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  border: none;
  margin-top: 40px;
}

.avatar-update-button:hover {
  background-color: #1158bd;
}

.avatar-max,
.avatar-file {
  font-size: 14px;
}

.avatar-hint{
  color:red;
  display: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  width: 100%;
  height: 104px;
  background-color: #1158bd;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;

}