html,
body {
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #171925;

}

.container-fluid {
  display: flex;
}

/*--------------------------------------------------------------
# peers
--------------------------------------------------------------*/


.left-section {
  width: 80%;
  /* border: 3px solid red; */
  border-right: 3px solid #242736;

}

#localVideo {
  /* width: 640px; */
  /* height: 720px; */
  border-radius: 10px;
  position: absolute;
}

.each-peer {
  /* width: 640px; */
  /* height: 360px;  */
  /* border: 3px purple solid; */
  margin-top: 20px;
}

#localVideo1 {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  position: absolute;

}

#localVideo2 {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  position: absolute;
}

.username {
  background-color: #171925;
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  position: relative;
  right: -30px;
  /* bottom: -460px; */
}

#videos {
  /* border: 3px red solid; */
  height: 100%;
}

#peers {
  /* border: 5px yellow solid; */
  height: 100%;
}

.left-section {
  /* border: 6px blue solid; */
  height: 100%;
  height: 700px;
}


/*--------------------------------------------------------------
# Viewer
--------------------------------------------------------------*/
#viewer {
  /* border: 3px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 5%;
}

.attendanceIcon {
  background-image: url("../img/conference.png");
  height: 24px;
  width: 24px;
  background-size: center;
  background-position: center center;
}

#viewer-count {
  color: white;
}


/*--------------------------------------------------------------
# chat
--------------------------------------------------------------*/
#chat {
  height: 500px;
  margin: 0 auto;
}

.message-header {
  display: flex;
  justify-content: center;
  height: 30px;
}

#chatRoom-title {
  font-size: 20px;
  color: white;
}

#chat-content {
  display: none;
  height: 600px;
}

#chat-body {
  overflow: auto;
  height: 590px;
  /* margin-bottom: 14px; */
}

.right-section {
  width: 20%;
  padding-left: 8px;
}

.body {
  height: 500px;
}

.send {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  /* z-index: 9999 !important; */
}




#msg {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}

#chat-input-btn {
  display: none;
}

#chat-alert {
  display: none;
  border-radius: 50%;
  background-color: #1158bd;
  width: 10px;
  height: 10px;
}

#log {
  /* border: 3px solid blue; */
}

.log-item, .my-log-item {
  color: white;
  /* border: 3px solid red; */
  margin-bottom: 5px;
}

.my-log-item{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.log-item .log-msg {
  background-color: #757575;
  /* border: 3px solid #242736; */
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
}

.my-log-item .log-msg {
  background-color: #1158bd;
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
}

#chat-btn {
  color: white;
  background-color: #1158bd;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

/*--------------------------------------------------------------
# Coppy
--------------------------------------------------------------*/

#copy {
  position: relative;
  width: 80%;
}

/* #copy-button {
  text-align: center;
  background-color: #1158bd;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  bottom: -160px !important;
  cursor: pointer;
} */

/*--------------------------------------------------------------
# switch and share screen button
--------------------------------------------------------------*/

#share-btn {
  cursor: pointer;
  background-color: #1158bd
}

.switch {
  position: relative;
  width: 100%;
}

/*--------------------------------------------------------------
# bottom-section
--------------------------------------------------------------*/
#bottom-section {
  width: 100%;
  background-color: #1c1f2e;
  height: 55px;
  border-top: 3px solid #242736;
}


#bottom-left {
  width: 80%;
  /* border: 3px solid red; */
  height: 55px;
}

#all-left-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.left-btn-section {
  /* border: 3px solid blue; */
  display: flex;
  gap: 20px
}

#bottom-right {
  width: 20%;
}

#audio-opened-btn {
  background-color: #1158bd;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;

}

#audio-closed-btn {
  background-color: #171925;
  border: 2px solid #2e3231;
  outline: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: none;
}

#video-opened-btn {
  background-color: #1158bd;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;

}

#video-closed-btn {
  background-color: #171925;
  border: 2px solid #2e3231;
  outline: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: none;
}

#exit-btn {
  background-color: #ea4335;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  color: #fff;
}

#chatroom-btn {
  background-color: #1158bd;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  width: 40px;
}