html,
body {
  font-family: 'Noto Sans TC';
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #666666;

}

.container-fluid {
  display: flex;
}

/*--------------------------------------------------------------
# peers
--------------------------------------------------------------*/


.left-section {
  width: 80%;
}

#localVideo {
  width: 100%;
  height: 900px;
  /* border: 3px yellow solid; */
}

/*--------------------------------------------------------------
# Viewer
--------------------------------------------------------------*/
#viewer {
  /* border: 3px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px
}

.attendanceIcon {
  background-image: url("../img/people.png");
  height: 24px;
  width: 24px;
  background-size: center;
  background-position: center center;
}



/*--------------------------------------------------------------
# chat
--------------------------------------------------------------*/
#chat {
  /* border: 3px green solid; */
  height: 500px;
  margin: 0 auto;
}

.message-header {
  display: flex;
  justify-content: center;
  color: #1158bd;
  cursor: pointer;
}

#chatRoom-title {
  font-size: 20px;
}

#chat-content{
  display: none;
}

.right-section {
  /* border: 3px purple solid; */
  width: 20%;
}

.body {
  height: 500px;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-input {
  margin-bottom: 20px;
}

.send .control-input,
.send .control {
  width: 100%;
}

#msg,
#chat-button {
  width: 100%;
}

#chat-button {
  background-color: #1158bd;
  color: #fff;
  border: none;
  border-radius: 10px;

}

#chat-alert {
  display: none;
  border-radius: 50%;
  background-color: #1158bd;
  width: 10px;
  height: 10px;
}

#chat-body{
  overflow: auto;
}

/*--------------------------------------------------------------
# Coppy
--------------------------------------------------------------*/

#copy {
  position: relative;
  width: 80%;
}


#copy-button {
  text-align: center;
  background-color: #1158bd;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 80%;
  bottom: -160px !important;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Exit
--------------------------------------------------------------*/

.exit {
  position: relative;
  /* border: 3px solid red; */
  width: 100%;
}

.exit-button {
  text-align: center;
  background-color: #1158bd;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  bottom: -195px !important;
  cursor: pointer;
}


.switch {
  position: relative;
  /* border: 3px solid red; */
  width: 100%;
}

.switch-stream-btn {
  text-align: center;
  background-color: #1158bd;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  bottom: -225px !important;
  cursor: pointer;
}